.chatbg {background-color: #f0f4fa;}

.container-border {border: 5px solid #1860c4; border-radius: 20px; padding-bottom: 5%; background-color: #c4def5; width: 80%; position: relative; top: 30%}

.container-border-help {border: 5px solid #1860c4; border-radius: 20px; padding: 1%; background-color: #c4def5; width: 80%; position: relative; top: 30%}

.container-help-chat {border: 5px solid #1860c4; border-radius: 10px; background-color: #edf6f7; width: 90%; position: relative; margin-top: 2%; margin-bottom: 2%; padding: 2%}

.container-main-chat {border: 5px solid #1860c4; border-radius: 10px; background-color: #edf6f7; width: 70%; position: relative; top: 15%; right: 10%; margin-top: 2%; padding: 2%}

.container-welcome-chat {border: 5px solid #1860c4; border-radius: 10px; background-color: #edf6f7; width: 90%; position: relative; top: 15%; margin-top: 2%; padding: 2%}

.custom-box {font-size: 20px;}

.custom-heading {font-size: 60px; font-weight: bold; color: #4f4f4f;}

.custom-navbar {border: 5px solid #1860c4; border-radius: 10px; margin-bottom: 2%;}

.custom-submit {font-size: 20px; padding: 10px 10px; width: 100%; margin-top: 1%; border-radius: 10px;}

.help-button {font-size: 20px; width: 100%; margin-top: 1%; border-radius: 10px;}

.mainform {position: relative; top: 60%; left: 25%; width: 70%; margin-top: 2%;}

.welcome-button {font-size: 30px; width: 100%; padding: 1%;}

.welcome-form {position: relative; top: 60%; left: 5%; width: 90%; margin-top: 2%;}
