<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link href="{{ url_for('static', filename='customstyles.css') }}" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		<title>Your Code</title>
	</head>
	<body>
		<nav class="navbar custom-navbar" style="background-color: #e3f2fd;">
			<div class="container-fluid">
				<h1 class="custom-heading">Web Design Assistant</h1>
			</div>
		</nav>
		<div class="container-sm container-border-help">
			<div class="container-sm container-help-chat">
				{%if browsername == "Edge"%}
					<h4>I have detected that you are using <strong>Edge</strong>.</h4>
					<h4>To download the source code for your website:</h4>
					<h4>
						<ol>
							<li>Return to the tab in which your website is open.</li>
							<li>Right-click on any empty space on the page.</li>
							<li>Select "View page source" from the dropdown menu</li>
							<li>You will see your source code in a new tab. You can now copy and paste it.</li>
						</ol>
					</h4>
				{%elif browsername == "Firefox"%}
					<h4>I have detected that you are using <strong>Firefox</strong>.</h4>
					<h4>To download the source code for your website:</h4>
					<h4>
						<ol>
							<li>Return to the tab in which your website is open.</li>
							<li>Right-click on any empty space on the page.</li>
							<li>Select "View Page Source" from the dropdown menu</li>
							<li>You will see your source code in a new tab. You can now copy and paste it.</li>
						</ol>
					</h4>
				{%elif browsername == "Chrome"%}
					<h4>I have detected that you are using <strong>Chrome</strong>.</h4>
					<h4>To download the source code for your website:</h4>
					<h4>
						<ol>
							<li>Return to the tab in which your website is open.</li>
							<li>Right-click on any empty space on the page.</li>
							<li>Select "View page source" from the dropdown menu</li>
							<li>You will see your source code in a new tab. You can now copy and paste it.</li>
						</ol>
					</h4>
				{%elif browsername == "Safari"%}
					<h4>I have detected that you are using <strong>Safari</strong>.</h4>
					<h4>To download the source code for your website:</h4>
					<h4>
						<ol>
							<li>Return to the tab in which your website is open.</li>
							<li>Click Safari in the top left of the menu bar</li>
							<li>Click preferences</li>
							<li>Navigate to Advanced and tick Show Develop menu in menu bar</li>
							<li>Click on the Develop menu</li>
							<li>Select "Show Page Source from the dropdown menu.</li>
							<li>You will see your source code at the bottom of the screen. You can now copy and paste it.</li>
						</ol>
					</h4>
				{%else%}
					<h4>An error has occured and I was unable to detect which browser you are using.</h4>
					<h4>For the best possible experience, please use one of the supported browsers:</h4>
					<h4>
						<ul>
							<li>Chrome</li>
							<li>Edge</li>
							<li>Firefox</li>
							<li>Safari</li>
						</ul>
					</h4>
				{%endif%}
			</div>
		</div>
	</body>
</html>